@import "/src/variables.scss";

.meet-our-team-hugging-model-main-div {
  position: absolute;
  pointer-events: none;
  left: -40vw;
  // transform: translateX(55%) rotate(60deg);
  // transition: transform 2s;
  z-index: 1;

  canvas {
    height: 136.5vh !important;
    width: 70vh !important;
  }
}

.meet-our-team-peak-model-right-main-div {
  position: absolute;
  pointer-events: none;
  right: -40vw;
  // transform: translateX(-55%) rotate(-60deg);
  // transition: transform 2s;
  z-index: 1;

  canvas {
    height: 136.5vh !important;
    width: 70vh !important;
  }
}

@media screen and (max-width: $mobile-screen) {
  .meet-our-team-hugging-model-main-div {
    // right: 250%;
    // left: 5%;
    // top: 0;

    canvas {
      width: 90vw !important;
      height: 70vw !important;
    }
  }
}
