@import "/src/variables.scss";

.meet-our-team-hugging-model-main-div {
  position: absolute;
  pointer-events: none;
  // left: 15%;
  left: 0;

  // transform: scale(0.9) translateY(-8%);
  // overflow: hidden;
  // top: 0;

  canvas {
    width: 50vw !important;
    height: 100vh !important;
  }
}

@media screen and (max-width: $mobile-screen) {
  .meet-our-team-hugging-model-main-div {
    // right: 250%;
    left: 5%;
    top: 0;

    canvas {
      width: 90vw !important;
      height: 70vw !important;
    }
  }
}
