@import "/src/variables.scss";

.meet-our-team-hugging-model-main-div {
  position: absolute;
  pointer-events: none;
  left: -40vw;
  // transform: translateX(55%) rotate(60deg);
  // transition: transform 2s;
  z-index: 1;

  canvas {
    height: 136.5vh !important;
    width: 70vh !important;
  }
}

.meet-our-team-peak-model-right-main-div {
  position: absolute;
  pointer-events: none;
  right: -40vw;
  // transform: translateX(-55%) rotate(-60deg);
  // transition: transform 2s;
  z-index: 1;

  canvas {
    height: 136.5vh !important;
    width: 70vh !important;
  }
}

@media screen and (max-width: $mobile-screen) {
  .meet-our-team-hugging-model-main-div {
    display: none;
    // top: 0;
    // z-index: 2;
    canvas {
      height: 180vw !important;
      width: 90vw !important;
    }
  }
  .meet-our-team-peak-model-right-main-div {
    display: none;
    canvas {
      height: 136.5vh !important;
      width: 70vh !important;
    }
  }
}
