@import "/src/variables.scss";
.primary-button-main-div {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: nunito;
  margin-top: 10%;
  box-shadow: -2px 4px 9px 0px #00000033, -8px 15px 17px 0px #0000002b;
  font-weight: bold;
  background: #f2f2f2;
  touch-action: manipulation;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  text-align: inherit;
  text-transform: inherit;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  // background-image: radial-gradient(75% 25% at 50% 95%, rgba(255, 255, 255, 0.2), transparent);
  // color: #f2f2f2;
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  transition-property: border-color, transform, background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1);
  will-change: transform;
  cursor: pointer;

  // background-color: #e8e8f2;
  // background-image: radial-gradient(75% 25% at 50% 95%, #fff, transparent);
  box-shadow: inset 0 0 2px 1px #fff, 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.primary-button-main-div:hover {
  background: #f2f2f2 !important;
  color: black;
  animation: buttonHover 1s forwards 1;
  transform: scale(1.04);
}
.primary-button-main-div:active {
  background: #f2f2f2 !important;
  color: black;
  transform: scale(0.96);
}

.primary-button-main-div:focus {
  outline-style: solid;
  outline-color: transparent;
}

@media (hover: hover) {
}
.primary-button-main-div:focus-visible {
  transform: scale(1.04);
  text-decoration-line: underline;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.125em;
}
