@import "/src/variables.scss";
.services-page-main-div {
  height: 100vh;
  background: $secondaryColor;
  position: relative;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .services-page-letters {
    font-size: 60vh;
  }
}

@media screen and (max-width: $mobile-screen) {
  .services-page-main-div {
    height: 100vh;

    position: relative;

    .services-page-letters {
      font-size: 60vh;
    }
  }
}
