@import "/src/variables.scss";
.services-page-main-div {
  height: 100vh;
  background: $secondaryColor;
  position: relative;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  .services-page-letters {
    // width: 400vw;
    font-size: 60vh;
  }
}
