@import "/src/variables.scss";
.meet-our-team-main-div {
  min-height: 100vh;
  background: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  overflow: hidden;

  .meet-our-team-model-div {
    position: absolute;
    pointer-events: none;
    // left: 15%;
    left: -150px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      // z-index: 22;
      z-index: 0;
      bottom: 0;
    }
  }

  .meet-our-team-content {
    width: 35vw;
    padding: 2%;
    border-radius: 30px;
    background: $primaryColor;
    position: relative;
    z-index: 2;
    margin-right: 40px;
    box-shadow: -9px 8px 27px 0px #00000033, -37px 33px 50px 0px #0000002b;
    margin-top: 50px;
    .meet-our-team-heading {
      font-size: 44px;
      font-family: nunito;
    }

    .meet-our-team-lower-div {
      display: flex;
      margin-top: 6%;
      align-items: center;
      gap: 10%;
      .learn-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        p {
          font-size: 30px;
          font-weight: bold;
          font-family: nunito;
        }
        button {
          margin-top: 10%;
        }
      }

      .meet-our-team-para {
        flex-basis: 60%;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .meet-our-team-main-div {
    .meet-our-team-content {
      width: 45vw;
      padding: 5%;
      margin-right: 10%;

      .meet-our-team-heading {
        font-size: 38px;
      }

      .meet-our-team-lower-div {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10%;
        gap: 10%;
        .learn-more {
          text-align: center;
          margin-top: 10%;
          p {
            font-size: 24px;
          }
        }

        .meet-our-team-para {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-screen) {
  .meet-our-team-main-div {
    padding-top: 30vh;

    .meet-our-team-model-div {
      left: 5%;
      top: 0;
    }

    .meet-our-team-content {
      width: 100vw;
      padding: 10%;
      margin: 5%;
      background: rgba(255, 255, 255, 0.01); /* Semi-transparent white background */
      backdrop-filter: blur(30px); /* Apply a blur effect to the background */
      -webkit-backdrop-filter: blur(30px);
      border-radius: 20px; /* Rounded corners for the container */
      border: 1px solid rgba(255, 255, 255, 0.1); /* Border with some transparency */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1); /* Multiple shadows for depth */
      overflow: hidden; /* Ensure content doesn't overflow */

      .meet-our-team-heading {
        font-size: 30px;
        text-align: center;
      }

      .meet-our-team-lower-div {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10%;
        gap: 10%;
        align-items: center;
        .learn-more {
          text-align: center;
          margin-top: 10%;
          p {
            font-size: 24px;
          }
          button {
            padding: 15px 20px;
            font-size: 18px;
          }
        }

        .meet-our-team-para {
          text-align: center;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
