@import "/src/variables.scss";

.services-display-page-main-div {
  min-height: 100vh;
  background: $secondaryColor;
  position: relative;
  overflow: hidden;

  .services-display-corner-rounded-div {
    min-height: 100vh;

    width: 100vw;
    // min-height: 100vh;
    background: $primaryColor;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: start;
  }

  .first-service {
    padding-top: 50vh;
  }
  .second-service {
    padding-bottom: 10%;
  }

  .digital-marketing-service-card {
    // position: relative;
    // z-index: 1;
    // width: 45vw;
    transform: translateX(50vw);

    // margin-top: 15%;
    // margin-bottom: 10%;
    position: relative;
    z-index: 2;
    width: 35vw;
    /* margin-left: 20%; */
    /* margin-top: 15%; */
    // top: 50%;
    // left: 40%;
    // transform: translate(-50%, -50%);

    .content {
      position: relative;
      padding: 5%;
      z-index: 1;
      border-radius: 30px;
      background: $secondaryColor;
      box-shadow: -9px 8px 27px 0px #00000033, -37px 33px 50px 0px #0000002b;
    }

    .header h3 {
      font-size: 38px;
      font-family: nunito;
    }

    .lower {
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // gap: 10%;

      .learn-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 30px;
          font-family: nunito;
          font-weight: bold;
        }
        button {
          margin-top: 10%;
        }
      }

      .para {
        flex-basis: 60%;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .services-display-page-main-div {
    .digital-marketing-service-card {
      width: 90vw;
      .header {
        font-size: 38px;
        text-align: center;
      }
      .content {
        padding: 10%;
      }

      .lower {
        flex-direction: column-reverse;
        .learn-more {
          margin-top: 10%;
          text-align: center;
          font-size: 24px;
        }

        .para {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-screen) {
  .services-display-page-main-div {
    align-items: end;
    justify-content: end;
    height: auto;

    .services-display-corner-rounded-div {
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      height: auto;
      gap: 0;
    }

    .digital-marketing-service-card {
      // width: calc(1000px - 80vw);

      margin: 5%;
      transform: none;
      top: auto;
      left: auto;
      width: 90vw;
      .header h3 {
        font-size: 28px;
        text-align: center;
        line-height: 1.1;
      }
      .content {
        padding: 10%;
        background: rgba(255, 255, 255, 0.01); /* Semi-transparent white background */
        backdrop-filter: blur(30px); /* Apply a blur effect to the background */
        -webkit-backdrop-filter: blur(30px);
        border-radius: 20px; /* Rounded corners for the container */
        border: 1px solid rgba(255, 255, 255, 0.1); /* Border with some transparency */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1); /* Multiple shadows for depth */
        overflow: hidden; /* Ensure content doesn't overflow */
      }

      .lower {
        flex-direction: column-reverse;
        .learn-more {
          button {
            font-size: 14px;
            padding: 14px 20px;
          }
          p {
            margin-top: 10%;
            text-align: center;
            font-size: 28px;
          }
        }

        .para {
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }
}
