@import "/src/variables.scss";

.homepage-standing-model-main-div {
  width: auto !important;
  height: auto !important;
  // display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;

  canvas {
    height: 165vh !important;
    width: auto !important;
    pointer-events: none;
    transform: translateY(45%);
  }
}

@media screen and (max-width: $mobile-screen) {
  .homepage-standing-model-main-div {
    left: 20%;
    canvas {
      height: 125vh !important;
      width: auto !important;
      pointer-events: none;
      transform: translateY(22%);
    }
  }
}
