@import "/src/variables.scss";
.services-page-thumbs-up-model {
  position: absolute;
  // top: 0;
  left: -10%;
  bottom: 10%;
  transform: rotate(-20deg);

  canvas {
    height: 57.143vh !important;
    width: 108vh !important;
    transform: translate(300px, 10px) rotate(10deg);
  }
}

@media screen and (max-width: $mobile-screen) {
  .services-page-thumbs-up-model {
    transform: rotate(-50deg) translate(30px, -50px);
  }
}
@media screen and (max-width: 500px) {
  .services-page-thumbs-up-model {
    // right: 0;
    top: -20%;
    left: -40%;
    transform: rotate(-30deg) translate(0, 0);

    canvas {
      height: 40vh !important;
      width: 80vh !important;
    }
  }
}
