@import "/src/variables.scss";
.rising-graphs-sales-main-div {
  height: 100vh;
  // width: 500vw !important;
  gap: 0.1%;
  background: $primaryColor;
  display: flex;
  align-items: end;

  .rising-graphs-background-text {
    position: absolute;
    font-size: 30vw;
    width: 100%;
    text-align: center;
    bottom: 14%;
  }

  .rising-div {
    width: 10%;
    height: 10px;
    background: $secondaryColor;
    z-index: 1;
  }
}
.rising-graphs-effeciency-main-div {
  height: 100vh;
  gap: 0.1%;
  background: $secondaryColor;
  display: flex;
  align-items: end;

  .rising-graphs-background-text {
    position: absolute;
    font-size: 14vw;
    width: 100%;
    text-align: center;
    bottom: 34%;
  }

  .rising-div {
    width: 10%;
    height: 10px;
    background: $primaryColor;
    z-index: 1;
  }
}
.rising-graphs-growth-main-div {
  height: 100vh;
  gap: 0.1%;
  background: $secondaryColor;
  display: flex;
  align-items: end;

  .rising-graphs-background-text {
    position: absolute;
    font-size: 18vw;
    width: 100%;
    text-align: center;
    bottom: 34%;
  }

  .rising-div {
    width: 10%;
    height: 10px;
    background: #f2f2f2;
    z-index: 1;
  }
}
