@import "/src/variables.scss";

.values-page-main-div {
  min-height: 100vh;
  background: $secondaryColor;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 -5px 12px 0 #00000026, 0 -21px 21px 0 #00000021, 0 -86px 34px 0 #00000005, 0 -134px 37px 0 #00000000;

  margin-top: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;

  :-webkit-scrollbar {
    display: none;
  }

  .we-are-here-to-help {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      padding: 2%;
      border-radius: 40px;
      text-align: center;
      background-color: $primaryColor;
      max-width: 50%;
      font-size: 58px;
      font-family: nunito;
      padding: 2% 5%;
      box-shadow: 0 -5px 12px 0 #00000026, 0 -21px 21px 0 #00000021, 0 -86px 34px 0 #00000005, 0 -134px 37px 0 #00000000;
    }
  }
  .want-to-find-out {
    display: none;
  }

  .values-page-moving-values {
    font-size: 165px;
    padding-top: 5%;
    padding-bottom: 15%;

    transform: rotate(-10deg);
    overflow: visible;
  }
}

@media screen and (max-width: $medium-screen) {
  .values-page-main-div {
    .we-are-here-to-help {
      h2 {
        border-radius: 20px;
        max-width: 40%;
        font-size: 38px;
      }
    }

    .values-page-moving-values {
      font-size: 105px;
      transform: rotate(-15deg);
    }
  }
}
@media screen and (max-width: $mobile-screen) {
  .values-page-main-div {
    .we-are-here-to-help {
      h2 {
        border-radius: 20px;
        max-width: 80%;
        font-size: 28px;
      }
    }

    .values-page-moving-values {
      //   position: relative;
      font-size: 65px;
      padding-top: 40%;
      // bottom: 50vh;
      transform: rotate(-15deg);
    }

    .want-to-find-out {
      margin-top: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        padding: 2%;
        border-radius: 20px;
        text-align: center;
        background-color: $primaryColor;
        max-width: 80%;
        font-size: 28px;
        font-family: nunito;
      }
    }
  }
}
