@import "/src/variables.scss";
.portfolio-page-main-div {
  height: 100vh;
  background: $primaryColor;
  position: relative;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  .portfolio-page-letters {
    // width: 400vw;
    font-size: 120vh;
    // letter-spacing: 20rem;
    // background-color: white;
  }
}
