@import "/src/variables.scss";

.arrow-button-main-div {
  border: none;
  border-radius: 200px;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
  box-shadow: -1px 2px 5px 0 #17161b8c, -5px 7px 9px #0000002a;

  img {
    width: 80px;
    transform: translate(-10px, 15px);
    // width: 200px;
  }
}

.arrow-button-main-div:hover {
  transform: scale(1.2);
  cursor: pointer;
}
