@import "/src/variables.scss";

@font-face {
  font-family: lora;
  src: url("/src/assets/fonts/Lora/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: nunito;
  src: url("/src/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: nunito-bold;
  src: url("/src/assets/fonts/Nunito/static/Nunito-SemiBold.ttf");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lora;
  // color: white;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
button {
  color: white;
}

body {
  background: $primaryColor;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
